@model List<IS_FHGMOABO.DAL.Meeting>

@{
}

<div class="row">

    <div class="col mb-3">

        <h2>Собрания собственников</h2>

    </div>

    <div class="col text-end mb-3">

        <a class="btn btn-warning btn-lg" asp-controller="Meetings" asp-action="Add">
            <i class="bi bi-clipboard2-plus"></i> Создать собрание
        </a>

    </div>

    <hr class="border border-dark border-2">

</div>

@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning text-center">
        <h1 class="mt-3">В системе отсутсутствует информация о собраниях собственников.</h1>
    </div>
}
else
{
    <div class="row">
        @foreach (var meeting in Model)
        {
            <div class="col-6 mt-2 mb-2">
                <div class="card border-dark rounded-4 shadow">
                    <div class="card-header">
                        <h5 class="card-title mt-2">
                            Собрание собственников по адресу: @meeting.House.Type @meeting.House.Street, д.@meeting.House.Number
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text d-inline text-nowrap">
                            Статус:
                        </p>
                        <h4 class="d-inline text-nowrap">
                            @if (meeting.Status == "Создано" && meeting.StartDate.AddDays(-10) > DateTime.Now)
                            {
                                <span class="badge rounded-pill bg-primary">Запланировано</span>
                            }
                            else if (meeting.Status == "Создано" && meeting.StartDate.AddDays(-10) <= DateTime.Now)
                            {
                                <span class="badge rounded-pill bg-danger text-black">Требуется сформировать повестку дня</span>
                            }
                            else if (meeting.Status != "Создано" && meeting.Status != "Завершено")
                            {
                                <span class="badge rounded-pill bg-info">@meeting.Status</span>
                            }
                            else if (meeting.Status == "Завершено")
                            {
                                <span class="badge rounded-pill bg-success">@meeting.Status</span>
                            }
                        </h4>
                        <p class="card-text mt-4">
                            Дата проведения: @meeting.StartDate.ToString("dd.MM.yyyy")
                        </p>
                        <p class="card-text">
                            Формат проведения: @meeting.Format
                        </p>
                        <p class="card-text">
                            Председатель: @meeting.Chairperson
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a class="btn btn-warning" asp-controller="Meetings" asp-action="Details" asp-route-id="@meeting.Id">Перейти</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
