@model IS_FHGMOABO.Models.PropertiesModels.AddSharedPropertyModel

@{
}

<div id="formSharedProperty" hidden>

    <hr>

    <h4>Выберите кем является собственник</h4>

    <select class="form-control mt-3" id="selectFormSharedProperty">

        <option value="">Выберите</option>
        <option value="formSharedPropertyNaturalPerson">Физическое лицо</option>
        <option value="formSharedPropertyLegalPerson">Юридическое лицо</option>

    </select>

    <div id="formSharedPropertyNaturalPerson" hidden>

        <hr>

        <form method="post" asp-controller="Properties" asp-action="AddSharedProperty">

            <input type="checkbox" asp-for="IsNaturalPerson" checked hidden />

            <div class="row">

                <div class="col-12">

                    <h4><label asp-for="NaturalPerson"></label></h4>

                    <div class="form-group mb-3">

                        <label asp-for="NaturalPerson.FirstName"></label>
                        <input class="form-control" asp-for="NaturalPerson.FirstName" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="NaturalPerson.FirstName" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="NaturalPerson.LastName"></label>
                        <input class="form-control" asp-for="NaturalPerson.LastName" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="NaturalPerson.LastName" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="NaturalPerson.Patronymic"></label>
                        <input class="form-control" asp-for="NaturalPerson.Patronymic" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="NaturalPerson.Patronymic" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="NaturalPerson.DateOfBirth"></label>
                        <input type="date" class="form-control" asp-for="NaturalPerson.DateOfBirth" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="NaturalPerson.DateOfBirth" class="text-danger"></span>
                        }

                    </div>

                </div>

            </div>

            <hr />

            <div class="row">

                <h4><label asp-for="RoomId"></label></h4>

                <div class="form-group mb-3">

                    <label for="roomDataList">Введите, чтобы найти</label>
                    <input type="text" class="form-control" list="datalistOptions" id="roomDataList" placeholder="Введите, чтобы найти" asp-for="RoomId">
                    <datalist id="datalistOptions">
                        @if (Model.Rooms != null)
                        {
                            @foreach (var room in Model.Rooms)
                            {
                                <option value="@room.Id" label="@room.House.Type @room.House.Street, д.@room.House.Number, @room.Type @room.Number"></option>
                            }
                        }
                    </datalist>
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="Rooms" class="text-danger"></span>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    }

                </div>

            </div>

            <hr />

            <div class="row">

                <div class="col-6">

                    <h4>Доля собственности</h4>

                    <div class="form-group mb-3">

                        <label asp-for="Share"></label>
                        <div class="input-group">

                            <input type="number" step="1" class="form-control" asp-for="Share.Dividend" />
                            <span class="input-group-text">/</span>
                            <input type="number" step="1" class="form-control" asp-for="Share.Divisor" />

                        </div>

                    </div>

                </div>

                <div class="col-6">

                    <h4><label asp-for="PropertyDate"></label></h4>

                    <div class="form-group mb-3">

                        <label asp-for="PropertyDate.DateOfTaking"></label>
                        <input type="date" class="form-control" asp-for="PropertyDate.DateOfTaking" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="PropertyDate.DateOfTaking" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="PropertyDate.DateOfTaking"></label>
                        <input type="date" class="form-control" asp-for="PropertyDate.EndDate" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="PropertyDate.EndDate" class="text-danger"></span>
                        }

                    </div>

                </div>

            </div>

            <hr />

            <div class="row">

                <h4><label asp-for="StateRegistration"></label></h4>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.Type"></label>
                    <input class="form-control" asp-for="StateRegistration.Type" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.Type" class="text-danger"></span>
                    }

                </div>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.Number"></label>
                    <input class="form-control" asp-for="StateRegistration.Number" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.Number" class="text-danger"></span>
                    }

                </div>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.ByWhomIssued"></label>
                    <input class="form-control" asp-for="StateRegistration.ByWhomIssued" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.ByWhomIssued" class="text-danger"></span>
                    }

                </div>

            </div>

            <hr />

            <div class="d-grid gap-2">

                <button type="submit" class="btn btn-warning btn-lg">Добавить</button>

            </div>

        </form>

    </div>

    <div id="formSharedPropertyLegalPerson" hidden>

        <hr>

        <form method="post" asp-controller="Properties" asp-action="AddSharedProperty">

            <div class="row">

                <div class="col-12">

                    <h4><label asp-for="LegalPerson"></label></h4>

                    <div class="form-group mb-3">

                        <label asp-for="LegalPerson.Name"></label>
                        <input class="form-control" asp-for="LegalPerson.Name" />
                        @if (!Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="LegalPerson.Name" class="text-danger"></span>
                        }

                    </div>

                </div>

            </div>

            <hr />

            <div class="row">

                <h4><label asp-for="RoomId"></label></h4>

                <div class="form-group mb-3">

                    <label for="roomDataList">Введите, чтобы найти</label>
                    <input type="text" class="form-control" list="datalistOptions" id="roomDataList" placeholder="Введите, чтобы найти" asp-for="RoomId">
                    <datalist id="datalistOptions">
                        @if (Model.Rooms != null)
                        {
                            @foreach (var room in Model.Rooms)
                            {
                                <option value="@room.Id" label="@room.House.Type @room.House.Street, д.@room.House.Number, @room.Type @room.Number"></option>
                            }
                        }
                    </datalist>
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="Rooms" class="text-danger"></span>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    }

                </div>

            </div>

            <hr />

            <div class="row">

                <div class="col-6">

                    <h4>Доля собственности</h4>

                    <div class="form-group mb-3">

                        <label asp-for="Share"></label>
                        <div class="input-group">

                            <input type="number" step="1" class="form-control" asp-for="Share.Dividend" />
                            <span class="input-group-text">/</span>
                            <input type="number" step="1" class="form-control" asp-for="Share.Divisor" />

                        </div>

                    </div>

                </div>

                <div class="col-6">

                    <h4><label asp-for="PropertyDate"></label></h4>

                    <div class="form-group mb-3">

                        <label asp-for="PropertyDate.DateOfTaking"></label>
                        <input type="date" class="form-control" asp-for="PropertyDate.DateOfTaking" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="PropertyDate.DateOfTaking" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="PropertyDate.DateOfTaking"></label>
                        <input type="date" class="form-control" asp-for="PropertyDate.EndDate" />
                        @if (Model.IsNaturalPerson)
                        {
                            <span asp-validation-for="PropertyDate.EndDate" class="text-danger"></span>
                        }

                    </div>

                </div>

            </div>

            <hr />

            <div class="row">

                <h4><label asp-for="StateRegistration"></label></h4>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.Type"></label>
                    <input class="form-control" asp-for="StateRegistration.Type" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.Type" class="text-danger"></span>
                    }

                </div>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.Number"></label>
                    <input class="form-control" asp-for="StateRegistration.Number" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.Number" class="text-danger"></span>
                    }

                </div>

                <div class="form-group mb-3">

                    <label asp-for="StateRegistration.ByWhomIssued"></label>
                    <input class="form-control" asp-for="StateRegistration.ByWhomIssued" />
                    @if (Model.IsNaturalPerson)
                    {
                        <span asp-validation-for="StateRegistration.ByWhomIssued" class="text-danger"></span>
                    }

                </div>

            </div>

            <hr />

            <div class="d-grid gap-2">

                <button type="submit" class="btn btn-warning btn-lg">Добавить</button>

            </div>


        </form>

    </div>

</div>