@model List<IS_FHGMOABO.DAL.House>

@*

*@

<div class="row">
    <div class="col text-start">

        <h2 style="margin-bottom:0px;"><a class="btn btn-warning btn-lg me-1" asp-area="" asp-controller="House" asp-action="Index"><i class="bi bi-arrow-left-circle-fill"></i> Назад</a> Архив МКД</h2>

    </div>
</div>

<div class="row mt-3 shadow">

    @if (Model == null || Model.Count == 0)
    {
        <div class="alert alert-warning text-center">
            <h1 class="mt-3">В системе отсутсутствует информация об архивных МКД</h1>
        </div>
    }
    else
    {
        @foreach (var house in Model)
        {
            <div class="col-lg-6 mt-3">
                <div class="card shadow rounded-4">
                    <div class="card-header bg-dark bg-gradient text-light rounded-top-4">

                        <div class="row">
                            <div class="col-12 text-center">
                                <h5>@house.Type @house.Street, дом @house.Number </h5>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3 text-center">

                            <i class="bi bi-house-dash-fill" style="font-size: 6em"></i>

                        </div>
                        <div class="col-9">
                            <div class="card-body">

                                <p class="card-text">Паспортная площадь дома: @house.HousesPassportedFloorArea м2</p>
                                <p class="card-text">Кадастровый номер: @(house.HouseCadastralNumber != null ? house.HouseCadastralNumber : "")</p>
                                <p class="card-text">Колличество помещений:</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark bg-gradient text-end rounded-bottom-4">

                        <button id="detailsButton_@house.Id" type="button" class="btn btn-warning mt-1 mb-1 ms-1 me-1" data-bs-toggle="modal" data-bs-target="#detailsModal_@house.Id">
                            <i class="bi bi-search"></i> Подробнее
                        </button>

                    </div>
                </div>
            </div>

            @await Html.PartialAsync("Details", house)
        }
    }

</div>

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>
