@using IS_FHGMOABO.DAL;
@using IS_FHGMOABO.Models.HouseModels;
@model IS_FHGMOABO.Models.HouseModels.IndexHouseModel

@*

*@

<div class="row">
    <div class="col">
        <h2>Реестр МКД</h2>
    </div>
    <div class="col text-end">

        <a class="btn btn-warning btn-lg me-1" asp-area="" asp-controller="House" asp-action="Archive"><i class="bi bi-archive-fill"></i> Архив МКД</a>

        <!-- Button trigger modal -->
        <button id="addButton" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="bi bi-building-fill-add"></i> Добавить МКД
        </button>

    </div>
</div>

<div class="row mt-3 shadow">

    @if (Model.Houses == null || Model.Houses.Count == 0)
    {
        <div class="alert alert-warning text-center">
            <h1 class="mt-3">Отсутствет информация в системе о МКД</h1>
        </div>
    }
    else
    {
        @foreach (var house in Model.Houses)
        {
            <div class="col-lg-6 mt-3">
                <div class="card shadow rounded-4">
                    <div class="card-header bg-dark bg-gradient text-light rounded-top-4">

                        <div class="row">
                            <div class="col-11 text-center">
                                <h5>@house.Type @house.Street, дом @house.Number </h5>
                            </div>
                            <div class="col text-end">
                                <a href="#" class="text-warning"><i class="bi bi-pencil"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3 text-center">

                            <i class="bi bi-house-check-fill" style="font-size: 6em"></i>

                        </div>
                        <div class="col-9">
                            <div class="card-body">

                                <p class="card-text">Паспортная площадь дома: @house.HousesPassportedFloorArea м2</p>
                                <p class="card-text">Кадастровый номер: @(house.HouseCadastralNumber != null ? house.HouseCadastralNumber : "")</p>
                                <p class="card-text">Колличество помещений: @house.RoomsCount</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark bg-gradient text-end rounded-bottom-4">

                        <a class="btn btn-warning mt-1 mb-1 me-1" asp-controller="Room" asp-action="Index" asp-route-id="@house.Id"><i class="bi bi-building-fill-up"></i> Помещения</a>
                        <button id="detailsButton_@house.Id" type="button" class="btn btn-warning mt-1 mb-1 ms-1 me-1" data-bs-toggle="modal" data-bs-target="#detailsModal_@house.Id">
                            <i class="bi bi-search"></i> Подробнее
                        </button>
                        <a class="btn btn-danger mt-1 mb-1 ms-1"><i class="bi bi-trash2-fill"></i> Удалить</a>

                    </div>
                </div>
            </div>

            @await Html.PartialAsync("Details", house)
        }
    }

</div>



@await Html.PartialAsync("Add", Model.AddHouse)

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>