@using IS_FHGMOABO.Models.RoomModels;
@model IS_FHGMOABO.Models.RoomModels.AddRoomModel

@{
}

<div class="collapse mb-3" id="collapseAdd">
    <div class="card card-body">
        <h3>Добавление в систему нового помещения</h3>

        <form method="post" asp-controller="Room" asp-action="Add">

            <table class="table table-striped table-bordered border border-2 border-dark bg-light bg-opacity-75">

                <thead class="text-center align-middle">

                    <tr>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.Type)

                        </th>
                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.Number)

                        </th>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.Purpose)

                        </th>

                        <th colspan="3">

                            Площади

                        </th>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.Floor)

                        </th>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.Entrance)

                        </th>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.CadastralNumber)

                        </th>

                        <th rowspan="2">

                            @Html.DisplayNameFor(model => model.IsPrivatized)

                        </th>

                        <th rowspan="2">

                            Дейстия

                        </th>

                    </tr>

                    <tr>

                        <th>

                            @Html.DisplayNameFor(model => model.TotalArea)

                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.LivingArea)

                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.UsableArea)

                        </th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <input type="hidden" asp-for="HouseId" />

                        <th>

                            @Html.DropDownListFor(model => model.Type, new SelectList(Enum.GetValues(typeof(AddRoomModel.RoomType))), "Выберите", new { @class = "form-control" })
                            <span asp-validation-for="Type" class="text-danger"></span>

                        </th>

                        <th>

                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>

                        </th>

                        <th>

                            @Html.DropDownListFor(model => model.Purpose, new SelectList(Enum.GetValues(typeof(AddRoomModel.RoomPurpose))), "Выберите", new { @class = "form-control" })
                            <span asp-validation-for="Purpose" class="text-danger"></span>


                        </th>

                        <th>

                            <input type="number" step="0.01" asp-for="TotalArea" class="form-control" />
                            <span asp-validation-for="TotalArea" class="text-danger"></span>

                        </th>

                        <th>

                            <input type="number" step="0.01" asp-for="LivingArea" class="form-control" />
                            <span asp-validation-for="LivingArea" class="text-danger"></span>


                        </th>

                        <th>

                            <input type="number" step="0.01" asp-for="UsableArea" class="form-control" />
                            <span asp-validation-for="UsableArea" class="text-danger"></span>

                        </th>

                        <th>

                            <input type="number" asp-for="Floor" class="form-control" />
                            <span asp-validation-for="Floor" class="text-danger"></span>

                        </th>

                        <th>

                            <input type="number" asp-for="Entrance" class="form-control" />
                            <span asp-validation-for="Entrance" class="text-danger"></span>

                        </th>

                        <th>

                            <input asp-for="CadastralNumber" class="form-control" />
                            <span asp-validation-for="CadastralNumber" class="text-danger"></span>

                        </th>

                        <th class="form-switch text-center align-middle">

                            <div class="checkbox">

                                <input class="form-check-input ms-0" asp-for="IsPrivatized" />
                                <span asp-validation-for="IsPrivatized" class="text-danger"></span>

                            </div>

                        </th>

                        <th class="text-center align-middle">

                            <button type="submit" class="btn btn-warning" title="Сохранить"><i class="bi bi-box-arrow-down"></i></button>

                        </th>

                    </tr>

                </tbody>

            </table>

        </form>
    </div>
</div>

@if (ViewData.ModelState.IsValid == false)
{
    <script>
        window.onload = function () {
            document.getElementById("addButton").click();
        };
    </script>
}